@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
body {
  font-family: Space Mono;
  background-color: #C5E4E7;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #004849;
}
body::-webkit-scrollbar-thumb {
  background: #2DC6B1;
  border-radius: 10px;
}

h1 {
  color: #004849;
}

main {
  height: 100vh;
}

.container {
  background-color: #F3F8FB;
  height: 50vh;
  text-align: center;
  margin-top: 10vh;
}

button {
  background: #004849;
  color: #F3F8FB;
  font-size: 20px;
  font-weight: bold;
  font-family: Space Mono;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
}
button:hover {
  background-color: #2DC6B1;
  color: #004849;
}

input {
  width: 300px;
  height: 30px;
  padding: 8px;
  font-size: 22px;
  border: solid 1px #2DC6B1;
  border-radius: 10px;
  text-align: end;
}
input:focus {
  outline-color: #2DC6B1;
}

.tip-container input {
  width: 100px;
  font-size: 20px;
}
@media (max-width: 800px) {
  .tip-container input {
    padding: 20px;
  }
}

.result-container {
  background-color: #004849;
  color: #fff;
  font-size: 22px;
}
.result-container .output-result {
  color: #2DC6B1;
  font-size: 30px;
}
@media (max-width: 800px) {
  .result-container .output-result {
    font-size: 18px;
  }
}
.result-container button {
  background-color: #2DC6B1;
  color: #004849;
}

button#reset-btn:active {
  transition: 0.8;
  transform: scale(0.9);
}

.empty {
  border-color: #f00000;
}

footer {
  margin-top: 160px;
  font-size: 22px;
  color: #004849;
  background-color: #F3F8FB;
  padding: 40px;
  font-size: 16px;
}
footer a {
  color: #2DC6B1;
}
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

main {
  margin-top: 50px;
  margin-bottom: 100px;
}
@media (max-width: 800px) {
  main {
    margin-top: 10px;
  }
}

.container {
  width: 60vw;
  height: 60vh;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
@media (max-width: 800px) {
  .container {
    width: 90vw;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
  }
}
.container .bill-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-around;
  flex-direction: column;
}
.container .bill-container .tip-container {
  width: 95%;
  margin: 30px 0;
}
.container .bill-container .tip-container button {
  margin: 10px;
}
@media (max-width: 800px) {
  .container .bill-container {
    width: 100%;
  }
}
.container .result-container {
  height: 70%;
  width: 35%;
  margin-right: 30px;
  padding: 20px;
  border-radius: 20px;
}
@media (max-width: 800px) {
  .container .result-container {
    width: 80%;
    height: 55%;
    margin: 10px auto;
  }
}
.container .result-container span {
  font-size: 15px;
}
.container .result-container button {
  width: 230px;
  margin-top: 60px;
}
@media (max-width: 800px) {
  .container .result-container button {
    width: 120px;
    margin-top: 20px;
  }
}

input:not(#custom-tip) {
  width: 75%;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
